<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userhomepage.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
    <style>


        .button{
  background-color: #00cc99;
  border-radius: 2px;
  width: 300px;
  height:40px;
  padding: 15px 32px;
  margin: 4px 2px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    color:black;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
}

    </style>
</head>
<body>
<box class="box">
    <p>Welcome to your personal page</p>
    <p>What would you like to do?</p>
    <form action="/logout">
        <input type="submit" value="Logout" class="button"/>
    </form>
    <form action="/addholidayhr">
        <input type="submit" value="Add Bank Holiday" class="button"/>
    </form>
    <form action="/adddayoff">
        <input type="submit" value="Request holiday" class="button"/>
    </form>
    <form action="/restricted/viewcredits">
        <input type="submit" value="View Credits" class="button"/>
    </form>
    <form action="/viewpersonaldetails">
        <input type="submit" value="View Personal Details" class="button"/>
    </form>
    <form action="/viewvacancies">
        <input type="submit" value="View Personal Vacancies" class="button"/>
    </form>
    <form action="/viewallvacancies">
        <input type="submit" value="View All Employee Vacancies" class="button"/>
    </form>
</box>
</body>
</html>