<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User home - personal details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userhomepage.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
</head>
<body>
<box class="box">
    <p>This are your personal details</p>
    <p>username<span th: text="${employeeDetails.username}"></span></p>


</box>
</body>
</html>