<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Registration</title>
    <base href="/">
    </meta>
    <link href="/css/common.css" th:href="@{/css/registrationdetails.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/common.css" th:href="@{/css/registrationdetails.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationdetails.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
</head>
<body>
<div class="registrationbox">
    <form action="#" th:action="@{/adddayoff}" th:object="${userForm}" method="post">
        <p>Please fill in your Day Off details</p>
        <p></p>
        <p></p>
        <p>Start Date</p>
        <input type="Date" id="startDate" name="startDate"/>
        <p>End Date</p>
        <input type="Date" id="endDate" name="endDate"/>
        <p>Reason</p>
        <p1><input type="text" name="reasonLeave"/></p1>
        <p1><input type="submit" id="btnSend" value="Submit" class="button"/></p1>
    </form>
</div>
<script>
    var x = document.getElementById("startDate");
    var y =document.getElementById("endDate");

    y.onchange = function() {endDateCheck()};
    x.onchange = function() {startDateCheck()};

    function startDateCheck() {
        x.value < y.value ? document.getElementById("btnSend").disabled = false : document.getElementById("btnSend").disabled = true;
    }
    function endDateCheck() {
        x.value < y.value ? document.getElementById("btnSend").disabled = false : document.getElementById("btnSend").disabled = true;
    }
</script>
</body>
</html>