<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add a public holiday</title>
    <base href="/">
    </meta>
    <link href="/css/common.css" th:href="@{/css/addholidayhr.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/common.css" th:href="@{/css/addholidayhr.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addholidayhr.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
</head>
<body>
<div class="addholidayhr">
    <form action="#" th:action="@{/addholidayhr}" th:object="${userForm}" method="post">
        <p>Please add all the bank holidays</p>
        <p></p>
        <p></p>
        <p>Vacation Name</p>
        <p1><input type="text" name="name"/></p1>

        <p>Start Date</p>
        <p1><input type="date" name="startDate"/></p1>
        <p>End Date</p>
        <p1><input type="date" name="end_date"/></p1>
        <p></p>
        <p1><input type="submit" value="Submit" class="button"/></p1>
    </form>
</div>
</body>
</html>