<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
</head>
<body style="text-align: center;font-family: sans-serif; font-size:2rem; font-weight:bold;
      background-color: #87CEFA;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;">
Welcome to our App!
<div>
    <p>Click <a th:href="@{/login}">here</a> to login to our page.</p>
</div>
</body>
</html>