<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update user info</title>
    <base href="/">
    </meta>
    <link href="/css/common.css" th:href="@{/css/registrationdetails.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/common.css" th:href="@{/css/registrationdetails.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationdetails.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
</head>
<body>
<div class="registrationbox">
    <form action="#" th:action="@{/registrationdetailshr}" th:object="${employee}" method="post">
        <p>Please fill in the registration details</p>
        <p></p>
        <p></p>
        <input type="hidden" th:field="*{id}"/>

        <p>First Name</p>
        <p1><input type="text" th:field="*{firstName}"/></p1>
        <p>Last Name</p>
        <p1><input type="text" th:field="*{lastName}"/></p1>
        <p>Adress</p>
        <p1><input type="text" th:field="*{address}"/></p1>
        <p>Department ID</p>
        <p1><input type="number" th:field="*{departmentId}"/></p1>
        <input type="hidden" th:field="*{employmentDate}"/></p1>
        <p>Salary</p>
        <p1><input type="text" th:field="*{salary}"/></p1>
        <p>Experience</p>
        <p1><input type="text" th:field="*{experience}"/></p1>
        <p>Credits</p>
        <p1><input type="text" th:field="*{daysOffCredits}"/></p1>
        <p>Please enter a job ID</p>
        <p1><input type="number" th:field="*{jobId}"></p1>
        <p></p>
        <p1><input type="submit" value="Submit" class="button"/></p1>
    </form>
</div>
</body>
</html>


