<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Registration</title>
    <base href="/">
    </meta>
    <link href="/css/common.css" th:href="@{/css/registration.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/common.css" th:href="@{/css/registration.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
</head>
<body>
<div class="registrationbox">
<form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
    <p>Please fill in your registration details</p>
    <p></p>
    <p></p>
    <p>Username</p>
    <p1><input type="text" name="username"/></p1>
    <p>Password</p>
    <p1><input type="password" name="password"/></p1>
    <p>Confirm Password</p>
    <p1><input type="password" name="password_confirm"/></p1>
    <p>Please add an employee ID</p>
    <p1><input type="number" name="employeeId"/></p1>
    <p>Please add a job ID</p>
    <p1><input type="number" name="job_id"/></p1>
    <p></p>
    <p1><input type="submit" value="Submit" class="button"/></p1>
</form>
</div>
</body>
</html>