<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View days off</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/common.css" th:href="@{/css/viewvacancies.css}" type="text/css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #ffffcc;}



    </style>
</head>
<body>
<p> Welcome to your personal vacation history</p>
<h2> List of Vacancies </h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${daysoff.empty}">
            <td colspan="2"> No DaysOff found </td>
        </tr>
        <tr th:each="dayOff : ${daysoff}">
            <td><span th:text="${dayOff.startDate}"> Start Date </span></td>
            <td><span th:text="${dayOff.endDate}"> End Date</span></td>
            <td><span th:text="${dayOff.reasonLeave}"> Reason</span></td>
        </tr>
        </tbody>
    </table>

<div class="form-container">
    <h1>Download Days Off Log </h1>
    Click on below links to get the logs.<br/><br/>
    <a href="/download/download">Download this file.</a>
    <br/>
    <a href="/download/browser">Open the file in browser.</a>
</div>

</body>
</html>